<% provide(:title, 'Notes') %>
<div class="box create">
  <div class="inner-box">
    <%= render partial: "form", locals: {note: @note, note_type: "Room", note_type_id: current_user.room_id} %>
  </div>
</div>
