<div class="box note">
  <div class="inner-box">
    <h2><%= @note.user.email %>:</h2>
    <p><%= @note.body %></p>
  </div>
</div>

<%= render partial: "shared/notes", locals: {object: @note, object_type: "Note"} %>
