<h1>Listing notifications</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Dismiss</th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.body %></td>
    <td><%= notification.read %></td>
  </tr>
<% end %>
</table>
