<% @notifications.each do |notification| %>

<div class="masonry">
<div class="box notification">
  <div class="inner-box">
    <% if can? :destroy, notification %>
      <%= link_to notification, :method => :delete , :class => "delete" do %>
        <span id="add-button" class="x" aria-hidden="true" data-icon="&#xe603;"></span>
      <% end %>
    <% end %>
    <h1><%= notification.body.html_safe %></h1>
  </div>
</div>
</div>
<% end %>