<body>
  <h1><%= @user.name %> invited you to join Fridge</h1>
  <p>
  Fridge is a micro social network that manages the details of living with your roommates. You can post and share bills, manage chore lists, organize grocery purchases, post polls for your roommates to vote on, and more!
  </p>
  <p> To sign up and join <%= @user.name.split(" ").first %>, click <a href=<%=@url%>>here</a>
</body>
