<body>
  <h1><%= @user.name %> invited you to join The Fridge</h1>
  <p> The Fridge allows roommates to manage their space in a simple and intuitive way. Post grocery lists, recurring bills, and more!
  </p>
  <p> To sign up and join <%= @user.name.split(" ").first %>, click <a href=<%=@url%>>here</a>
</body>
