<nav id="main-navbar" class="cf">
	<div class="nav-item left"><span id="menu-button" aria-hidden="true" data-icon="&#xe600;"></span></div>
	<span>Roommates</span>
	<div class="nav-item right"><span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span></div>
</nav>