<h2 class="blue-box text-left">Comments</h2>
<div class="comments">
<%= render partial: "notes/index", locals: {notes: object.notes} %>
</div>

<div class="create comment-create">
<%= render partial: "notes/form", locals: {note: Note.new, note_type: object_type, note_type_id: object.id , noteType: "Comment"} %>
</div>