<% provide(:title, 'Check Lists') %>
<div class="masonry">
<% if @check_lists.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any lists here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>
<%= render partial: "index", locals: { check_lists: @check_lists } %>
</div>
