<% provide(:title, 'Check Lists') %>
<h1><%= @check_list.title %></h1>

<% @check_list.check_list_items.each do |item| %>
  <p><%= "#{item.body}: #{item.value}" %></p>
  <br>
<% end %>

<%= render partial: "shared/notes", locals: {object: @check_list, object_type: "CheckList"} %>
