<% provide(:title, 'Poll Lists') %>
<div class="masonry">
<% if @poll_lists.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any polls here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>

<%= render partial: "poll_lists/index", locals: { poll_lists: @poll_lists }%>
</div>