<% provide(:title, 'Chore Lists') %>
<div class="masonry">
<% if @chore_lists.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any chores here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% else %>
  <%= render partial: "chore_lists/index", locals: { chore_lists: @chore_lists }%>
<% end %>
</div>