<% provide(:title, 'Chore Lists') %>
<div class="box chorelist">
  <div class="inner-box">
    <h1><%= @chore_list.title %></h1>
    <% @chore_list.chore_list_items.each do |item| %>
      <div class="item">
        <span class="value"><%= "#{item.body}" %></span>
      </div>
    <% end %>
    <% @chore_list.chore_list_recurring_items.each do |item| %>
      <div class="item">
        <span class="value"><%= "#{item.body}" %></span>
      </div>
    <% end %>
  </div>
</div>
<%= render partial: "shared/notes", locals: {object: @chore_list, object_type: "ChoreList"} %>
